@model IEnumerable<MovieShop.Core.Models.Response.MovieResponseModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid mt-4 p-0">
    <div class="row no-gutters">
        @foreach (var movie in Model)
        {
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-3">
                <div class="card h-100">
                     <a asp-controller="Movies" asp-action="Index" asp-route-id="@movie.Id">
                    <img src="@movie.PosterUrl" class="card-img-top" alt="@movie.Title" style="height: 100%; object-fit: cover;">
                    </a>
                </div>
            </div>
        }
    </div>
</div>