@model IEnumerable<MovieShop.Core.Entities.Genres>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Genres
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var genre in Model)
        {
            <a class="dropdown-item" asp-controller="Movies" asp-action="MoviesByGenre" asp-route-id="@genre.Id">@genre.Name</a>
        }
    </div>
</li>