@model IEnumerable<MovieShop.Core.Entities.Genres>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="genreDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Genres
    </a>
    <ul class="dropdown-menu" aria-labelledby="genreDropdownLink">
        @foreach (var genre in Model)
        {
            <li><a class="dropdown-item" href="@Url.Action("Index", "Home", new { genreId = genre.Id })">@genre.Name</a></li>
        }
    </ul>
</li>